[defaults]
inventory = inventory.yml
remote_user = root
private_key_file = ~/.ssh/DO_Mantri_droplet
host_key_checking = False
stdout_callback = yaml

[privilege_escalation]
become = True
become_method = sudo

[ssh_connection]
# Use ssh-agent for passphrase-protected keys.
# Before running the playbook: ssh-add ~/.ssh/DO_Mantri_droplet
ssh_args = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s
